<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.QL_QUANCAFEConnectionString"
            connectionString="Data Source=DESKTOP-QF2UV5Q\SHINBOIZZ;Initial Catalog=StoreProdure;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>